.navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.75rem;
  z-index: 9999;

  @media screen and (max-width: 425px) {
    display: none;
  }

  &__logo {
    max-width: 100px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 3rem;

    > li:last-child {
      > a {
        padding: 10px;
        border: #ffffff 1px solid;
      }
    }
  }
}
